<div class="surface-0 flex justify-content-center">

    <div id="home" class="landing-wrapper overflow-hidden">

        <div id="hero" class="flex flex-column pt-4 px-4 lg:px-8 overflow-hidden"
            style="background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), radial-gradient(77.36% 256.97% at 77.36% 57.52%, #EEEFAF 0%, #C3E3FA 100%); clip-path: ellipse(150% 87% at 93% 13%);">

            <div class="mx-4 md:mx-8 mt-0 md:mt-4">
                <h1 class="text-5xl md:text-6xl font-extrabold text-gray-900 leading-tight mb-6" style="display: flex;justify-content: center;">
                    Sistema de Planificación de Recursos Empresariales (ERP)
                </h1>
                <p class="text-xl md:text-2xl text-gray-700 font-light leading-relaxed mb-10" style="display: flex;justify-content: center;">
                    Optimiza y centraliza la gestión de tu empresa con una solución ERP inteligente, flexible y
                    segura.<br class="hidden md:inline" />
                </p>
                <!-- No será necesario por ahora
                 <button pButton pRipple type="button" label="Reservar Ahora"
                    class="p-button-rounded text-xl border-none mt-3 bg-blue-500 font-normal line-height-3 px-3 text-white">
                </button> 
                -->
            </div>

            <div class="flex justify-content-center md:justify-content-end">

                <img src="assets/demo/images/landing/screen-1.png" alt="Imagen Hero" class="w-9 md:w-auto">

            </div>

        </div>

        <div id="pricing" class="py-4 px-4 lg:px-8 my-2 md:my-4">
            

            <div class="py-4 px-4 mx-0 mt-8 lg:mx-8">

                <div class="grid justify-content-center">
                    <div class="col-12 md:col-10 lg:col-8">
                      <div class="grid text-center md:text-left justify-content-center">
                        
                        <div class="col-12 md:col-4">
                          <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Empresa</h4>
                          <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Sobre Nosotros</a>
                          <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">FAQ</a>
                        </div>
                  
                        <div class="col-12 md:col-4 mt-4 md:mt-0">
                          <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Redes Sociales</h4>
                          <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Youtube</a>
                          <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Tiktok</a>
                          <a class="line-height-3 text-xl block cursor-pointer text-700">Blog</a>
                        </div>
                  
                        <div class="col-12 md:col-4 mt-4 md:mt-0">
                          <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Legal</h4>
                          <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Política de Marca</a>
                          <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Política de Privacidad</a>
                          <a class="line-height-3 text-xl block cursor-pointer text-700">Términos de Servicio</a>
                        </div>
                  
                      </div>
                    </div>
                  </div>
                  
            </div>
        </div>
    </div>